*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
background:url(../img/9.jpg) fixed;
	
}

p{
	margin-bottom	: 20px;
	line-height		: 1.5em;
}


h3{
	margin-bottom	: 20px;
	border-bottom	: 1px solid #aaa;
}

a{
	text-decoration	: none;
	color			: #333;
}

a:hover{
	color	: #666;
}

.container{
	max-width	: 1080px;
	margin		: 20px auto;
	background	: #dedede;
	overflow	: hidden;
	padding		: 10px;
}


.header{
	border		: 0px solid black;
	padding		: 30px;
	margin		: 10px;
	background	: transparant;
}

	.right{
		width		: 250px;
		border		: 0px solid #D3D2ED;
		padding		: 1px;
		margin		: 1px;
		margin-right: 10px;
		float		: right;
		background: transparent;
	}
	#contoh{
	float: right;
	width: 100px;
	height: 50px;
	background: transparent;
	-webkit-transition: width 0.5s;
	transition: width 2;
	}
	#contoh:hover{
	width: 246px;
	}
		.right ul{
			list-style-type	: none;
			padding: 0;
			margin: 0;
			overflow: hidden;
		}
		
		.right ul li{
			display	: block;
			color: #000;
			text-decoration: none;

		}
		
		.right ul li a{
			display			: block;
			border-bottom	: 1px solid #dedede;
			margin-bottom	: 10px;
			padding			: 10px 5px;
			font-color		: #D3D2ED;
			text-decoration: none;
			transition: all 0.5s ease;
			color: black;
		}
		
		.right ul li a:hover{
			background-color: black;
			color: white;
		}
	
	
	.center{
		width	: 835px;
		border 	: 2px solid black;
		padding	: 10px;
		margin	: 10px;

	}
		.center img{
			max-width	: 95%;
			height		: 473px;
			margin-right: 100px;
			margin-left: 25px;
		}
		
		
	.footer{
		clear	: both;
		border	: 0px solid black;
		padding	: 15px;
		margin	: 10px;
		background	:white;
	}
	.footer p a{
		text-decoration: none;
	}

	.center table tr td{
		padding: 5px;
	}